<app-earth *ngIf="planetId === 'home' || planetId == 'earth'"></app-earth>
<app-saturn *ngIf="planetId === 'saturn'"></app-saturn>
<app-venus *ngIf="planetId === 'venus'"></app-venus>
<app-mars *ngIf="planetId === 'mars'"></app-mars>
<app-pluto *ngIf="planetId === 'pluto'"></app-pluto>
<app-neptune *ngIf="planetId === 'neptune'"></app-neptune>
<app-mercury *ngIf="planetId === 'mercury'"></app-mercury>
<app-uranus *ngIf="planetId === 'uranus'"></app-uranus>
<app-jupiter *ngIf="planetId === 'jupiter'"></app-jupiter>
