<div class="selector text">
  <div (click)="selectNewPlanet('home')">Home</div>
  <div (click)="selectNewPlanet('mercury')">Mercury</div>
  <div (click)="selectNewPlanet('venus')">Venus</div>
  <div (click)="selectNewPlanet('earth')">Earth</div>
  <div (click)="selectNewPlanet('mars')">Mars</div>
  <div (click)="selectNewPlanet('jupiter')">Jupiter</div>
  <div (click)="selectNewPlanet('saturn')">Saturn</div>
  <div (click)="selectNewPlanet('uranus')">Uranus</div>
  <div (click)="selectNewPlanet('neptune')">Neptune</div>
  <div (click)="selectNewPlanet('pluto')">Pluto</div>
</div>

<div class="text">
  <h1>{{ planetInfo.planet.englishName }}</h1>
  <p class="subtext">
    {{ planetInfo.planet.quote }}
  </p>
  <p class="quote subtext">- {{ planetInfo.planet.quotee }}</p>
</div>
<div>
  <a href="" class="button">Learn More</a>
</div>
