<div class="selectors text">
  <div class="link" (click)="selectNewPlanet('home')">Home</div>
  <div class="link" (click)="selectNewPlanet('mercury')">Mercury</div>
  <div class="link" (click)="selectNewPlanet('venus')">Venus</div>
  <div class="link" (click)="selectNewPlanet('earth')">Earth</div>
  <div class="link" (click)="selectNewPlanet('mars')">Mars</div>
  <div class="link" (click)="selectNewPlanet('jupiter')">Jupiter</div>
  <div class="link" (click)="selectNewPlanet('saturn')">Saturn</div>
  <div class="link" (click)="selectNewPlanet('uranus')">Uranus</div>
  <div class="link" (click)="selectNewPlanet('neptune')">Neptune</div>
  <div class="link" (click)="selectNewPlanet('pluto')">Pluto</div>
</div>
<router-outlet></router-outlet>
