<div class="flex">
  <div class="text-area">
    <div class="text">
      <h1>EARTH, THE FIRST FRONTIER</h1>
      <p class="subtext">
        Modern science says: 'The sun is the past, the earth is the present, the
        moon is the future.' From an incandescent mass we have originated, and
        into a frozen mass we shall turn. Merciless is the law of nature, and
        rapidly and irresistibly we are drawn to our doom.
      </p>
      <p class="quote subtext">- Nikola Tesla</p>
    </div>
    <div>
      <a href="" class="button">Learn More</a>
    </div>
  </div>
  <div class="canvas" #canvasContainer id="canvasContainer">
    <canvas #canvas id="cavas"></canvas>
  </div>
</div>
